.srcom-star-rating {
    display: flex;
    align-items: center;
  }
  
  .srcom-stars {
    margin-top: 2px;
    display: flex;
    align-items: center;
  }

  .srcom-star-wrapper {
    position: relative;
    cursor: default;
  }
  
  .srcom-star-wrapper.interactive {
    cursor: pointer;
  }
  
  .srcom-star {
    color: var(--star-color);
    font-size: 24px;
    line-height: 1;
    transition: transform 0.1s ease-in-out;
  }

  .srcom-star-wrapper.interactive:hover .srcom-star {
    transform: scale(1.1);
  }
  
  .srcom-empty-star {
    opacity: 0.3;
  }
  
  .srcom-rating-text {
    margin-left: 4px;
    font-weight: 700;
  }
  
  .srcom-rating-count {
    margin-left: 4px;
    font-weight: 400;
    color: var(--medium-grey);
  }
  
  /* Sizes */
  .srcom-star-rating.small .srcom-rating-text {
    font-size: 15px;
  }
  
  .srcom-star-rating.medium .srcom-rating-text {
    font-size: 20px;
  }

  .srcom-star-rating.large .srcom-rating-text {
    font-size: 30px;
  }