/* Review Form */
.rvcom-review-form {
  background-color: white;
  padding: 25px;
  margin-bottom: 30px;
  border: 20px solid #F5F6EA;
}

.rvcom-form-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.rvcom-field-label {
  font-weight: 600;
  margin-bottom: 10px;
}

.rvcom-required {
  color: var(--medium-grey);
  font-weight: normal;
}

.rvcom-rating-field {
  margin-bottom: 20px;
}

.rvcom-review-textarea {
  width: 100%;
  min-height: 130px;
  resize: vertical;
  max-height: 300px;
  border: 1px solid black;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
}

.rvcom-photo-field {
  display: flex;
  margin: 20px 0;
}

.rvcom-photo-upload-container {
  width: 250px;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  border: 2px dashed #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rvcom-optional-text {
  color: var(--medium-grey);
  font-size: 14px;
}

.rvcom-photo-requirements {
  margin-left: 15px;
  font-size: 14px;
}

.rvcom-photo-requirements ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 5px;
}

.rvcom-form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.rvcom-cancel-button {
  padding: 10px 20px;
  background: none;
  border: none;
  font-weight: 600;
}

.rvcom-submit-button {
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  font-weight: 600;
}