.bccom-breadcrumb {
    margin: 20px 0;
  }
  
  .bccom-breadcrumb ol {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .bccom-breadcrumb li {
    display: flex;
    align-items: center;
  }
  
  .bccom-breadcrumb a {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .bccom-breadcrumb-separator {
    margin: 0 8px;
    color: var(--medium-grey);
  }

